---
import PageHeader from "@/components/PageHeader.astro";
import Blogs from "@/components/Blogs.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { getEntryBySlug } from "astro:content";

const { blog_folder } = config.settings;

const posts = await getSinglePage(blog_folder);
const sortedPosts = sortByDate(posts);
const featuredPost = sortedPosts.filter((item) => item.data.featured);
import Community from "@/components/Community.astro"

const communityData = await getEntryBySlug("contributing", "index");
---

<Base
  title={communityData.data.title}
  description={communityData.data.description}
  image={communityData.data.image}
>
  <section class="page-hero pt-16">
    <div class="container">
      <PageHeader page_data={communityData.data} />
    </div>
  </section>
    <Community data={communityData}/>
  <section class="section">
    <div class="container">
      <h2 class="h4 mb-4">Community Stories</h2>
      <Blogs posts={featuredPost} />
    </div>
  </section>
  <Cta />
</Base>
