---
import Button from "./shortcodes/Button"
import { Image } from "astro:assets";

const { post } = Astro.props;
const { Content } = await post.render();
---

<section class="section blog-single">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <Image
          class="w-full rounded-xl"
          src={post.data.image}
          alt=""
          width={920}
          height={450}
        />
      </div>
      
      <div class="mt-10 max-w-[810px] lg:col-9">
        <h1 class="h2">
          {post.data.title}
        </h1>

        <div class="content">
          {post.data.img[0] && 
          <div>
            <Image
            class={"w-full object-contain rounded-2xl"}
            src={post.data.img[0]}
            alt=""
            width={720}
            height={450}
            />
          </div>
          }
          <Content />
          {post.data.img[1] &&
          <div>
            <Image
            class={"w-full object-contain rounded-2xl"}
            src={post.data.img[1]}
            alt=""
            width={720}
            height={450}
            />
          </div>
          }
          
        </div>
        {post.data.link && 
          <Button href={post.data.link} style={'primary'} children={'Learn more'} rel={'noopener noreferrer'} client:load/>
          }
        
      </div>
    </div>
  </div>
</section>
